<div>
    <button id="btn-review" class="btn btn-primary w-100 my-5">리뷰작성</button>
    <div id="div-review" style="display: none;">
        <textarea id="contents" class="form-control" rows="5" placeholder="내용을 입력하세요."></textarea>
        <div class="text-end mt-2 mb-5">
            <button id="btn-save" class="btn btn-danger btn-sm px-5">등록</button>
        </div>
    </div>
    <div id="div_review"></div>
    <div id="pagination" class="pagination justify-content-center mt-5"></div>
</div>

<script id="temp_review" type="x-handlebars-template">
    {{#each .}}
        <div class="row">
            <div class="col-lg-2">
                <img src="{{isImage photo}}" width="50px" class="photo">
                <div style="font-size:0.8rem;">{{uname}}</div>
            </div>

            <!-- 보기 -->
            <div class="col display{{rid}}">
                <div style="font-size:0.9rem;">{{fmtdate}}</div>
                <div class="ellipsis2 contents" style="cursor:pointer;">
                    [{{rid}}] {{contents}}
                </div>
                <div class="text-end" style="{{show uid}}">
                    <button rid="{{rid}}" class="btn-update btn btn-primary btn-sm">수정</button>
                    <button rid="{{rid}}" class="btn-delete btn btn-danger btn-sm">삭제</button>
                </div>
            </div>

            <!-- 수정 -->
            <div class="col update{{rid}}" style="display:none;">
                <div style="font-size:0.9rem;">{{fmtdate}}</div>
                <div>
                    <textarea id="contents{{rid}}" class="form-control" rows="10">{{contents}}</textarea>
                </div>
                <div class="text-end" style="{{show uid}}">
                    <button rid="{{rid}}" class="btn-save btn btn-primary btn-sm">저장</button>
                    <button rid="{{rid}}" contents="{{contents}}" class="btn-cancel btn btn-secondary btn-sm">취소</button>
                </div>
            </div>
        </div>
        <hr>
    {{/each}}
</script>
<script>
    Handlebars.registerHelper("show", function(uid){
        if(uid != sessionStorage.getItem("uid")){
            return "display:none";
        }
    });


    Handlebars.registerHelper("isImage", function(photo){
        if(photo) return "/upload/photo/" + photo;
        else return "http://via.placeholder.com/100x100";
    });
</script>

<script>
    let page = 1;
    getTotal(); //total을 호출하면 review 자동으로

    //각 행의 수정버튼을 누른 경우
    $("#div_review").on("click", ".btn-update", function(){
        const rid=$(this).attr("rid");
        $("#div_review .display" + rid).toggle();
        $("#div_review .update" + rid).toggle();
    });

    // 수정 취소
    $("#div_review").on("click", ".btn-cancel", function(){
        const rid=$(this).attr("rid");
        $("#div_review .display" + rid).toggle();
        $("#div_review .update" + rid).toggle();

        const contents=$(this).attr("contents"); //수정하기 전의 값
        $("#div_review #contents" + rid).val(contents); //수정화면에서 수정 취소하고 다시 수정화면으로 가면 원래 상태로
    });

    // 수정 저장
    $("#div_review").on("click", ".btn-save", function(){
        const rid=$(this).attr("rid");
        const contents=$("#div_review #contents" + rid).val();
        //alert(contents);
        if(!confirm(`${rid}번 리뷰를 수정하시겠습니까?`)) return;
        $.ajax({
            type:"post",
            url:"/review/update",
            data:{contents, rid},
            success:function(){
                getTotal();
            }
        });
    });


    //각 행의 삭제버튼을 누른 경우 (리뷰목록에서)
    $("#div_review").on("click", ".btn-delete", function(){
        const rid=$(this).attr("rid");
        if(!confirm(`${rid}번 리뷰를 삭제하시겠습니까?`)) return;
        $.ajax({
            type:"post",
            url:"/review/delete",
            data:{rid},
            success:function(){
                getTotal();
            }
        })
    });


    //리뷰작성 (로그인/로그아웃시)
    if(sessionStorage.getItem("uid")){
        $("#btn-review, #div-review").toggle(); //보이는건 안보이게, 안보이는건 보이게
    }


    //(리뷰)등록 버튼을 누른 경우
    $("#btn-save").on("click", function(){
        const contents=$("#contents").val();
        if(contents == ""){
            alert("내용을 입력하세요.");
            $("#contents").focus();
            return;
        }
        $.ajax({
            type:"post",
            url:"/review/insert",
            data:{bid:"<%=book.BID%>", uid:sessionStorage.getItem("uid"), contents},
            success:function(){
                getTotal();
                $("#contents").val("");
            }
        })
    });


    //리뷰 작성 버튼 클릭한 경우
    $("#btn-review").on("click", function(){
        sessionStorage.setItem("target", "/books/info?bid=<%=book.BID%>");
        location.href="/users/login";
    });


    //리뷰 내용을 눌렀을 때,
    $("#div_review").on("click", ".contents", function(){
        $(this).toggleClass("ellipsis2"); //넣었다 뺐다 하는 (2줄이상 리뷰들을..)
    });


    function getTotal(){
        $.ajax({
            type:"get",
            url:"/review/count",
            data:{bid:"<%=book.BID%>"},
            success:function(data){
                if(data < 6){
                    $("#pagination").hide();
                    getReview();
                }else{
                    $("#pagination").show();
                    const totalPages = Math.ceil(data/5);
                    $("#pagination").twbsPagination("changeTotalPages", totalPages, page);
                }
            }
        });
    }


    function getReview(){
        $.ajax({
            type:"get",
            url:"/review/list.json",
            data:{bid:"<%=book.BID%>", page},
            success:function(data){
                //console.log(data);
                const temp=Handlebars.compile($("#temp_review").html());
                $("#div_review").html(temp(data));
            }
        });
    }


    $('#pagination').twbsPagination({
        totalPages:10, //총 페이지 번호 수
        visiblePages: 5, // 하단에서 한 번에 보여 지는 페이지 번호 수
        startPage : 1, // 시작 시 표시되는 현재 페이지
        initiateStartPageClick: false, // 플러그인이 시작 시 페이지 버튼 클릭 여부 (default : true) 
        first : '<i class="bi bi-caret-left-fill"></i>', // 페이지네이션 버튼 중 처음으로 돌아가는 버튼에 쓰여 있는 텍스트
        prev : '<i class="bi bi-caret-left"></i>', // 이전 페이지 버튼에 쓰여 있는 텍스트
        next : '<i class="bi bi-caret-right"></i>', // 다음 페이지 버튼에 쓰여 있는 텍스트
        last : '<i class="bi bi-caret-right-fill"></i>', // 페이지네이션 버튼 중 마지막으로 가는 버튼에 쓰여 있는 텍스트
        onPageClick: function (event, clickPage) {
            page=clickPage;
            getReview(); 
        }
    });
</script>