<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- 왼쪽에 배치 -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/books">도서검색</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/users">사용자목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/books/list">도서목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/search">지역검색</a>
            </li>
        </ul>
        <!-- 오른쪽에 배치 -->
        <ul class="navbar-nav d-flex">
            <li class="nav-item" id="login">
                <a class="nav-link active" aria-current="page" href="/users/login">LOGIN</a>
            </li>
            <li class="nav-item" style="display:none;" id="mypage">
                <a class="nav-link active" aria-current="page" href="/users/mypage">uid</a>
            </li>
            <li class="nav-item" style="display:none;" id="logout">
                <a class="nav-link active" aria-current="page" href="/users/logout">LOGOUT</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<script> //sessionstorage 에 넣은 내용을 가져오는
    if(sessionStorage.getItem("uid")){
        $("#login, #mypage, #logout").toggle();
        $("#mypage a").html(sessionStorage.getItem("uid"));
    }     // 한 칸 띄면 and 표시

    //로그아웃
    $("#logout").on("click", "a", function(e){
        e.preventDefault(); // 누르면 이동하지 못하게 막아주기

        if(confirm("정말로 로그아웃하시겠습니까?")){
            sessionStorage.clear();
            location.href="/";
        }
    });

    //마이페이지를 눌렀을 때
    $("#mypage").on("click", "a", function(e){
        e.preventDefault(); // a 태그는 어디로 이동하려는 속성이 있어서 막아줌

        location.href="/users/mypage?uid=" + sessionStorage.getItem("uid"); 
        //location.href="/users/mypage" + sessionStorage.getItem("uid"); <- params로 보내는 경우
                                                                //sessionStorage에서 받아온 uid를 users.js의 :uid로 넘김

        //location.href="/users/mypage?uid" <- query로 보내는 경우 ( ?변수명=값 )
    });
</script>