@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

* {
  font-family: 'Gaegu', sans-serif;
  font-size: 1.1rem;
}

  form span {
    width: 100px;
    justify-content: center;
  }

  .photo {
    border-radius: 50%;
    border: 2px solid gray;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

  .like {
      color: coral;
      cursor: pointer;
      font-style: italic;
  }

  .count {
      font-size: 0.8rem;
  }