<style>
    .bi-trash {
        cursor: pointer;
        font-size: 1.5rem;
    }

    .bi-cart-check {
        font-size: 1.5rem;
    }

    .qnt {
        border: 1px solid #EEEEEE;
        border-radius: 5px;
        font-size: 0.9rem;
        padding: 5px;
        text-align: right;
    }
</style>

<div class="my-5">
    <h1 class="text-center mb-5">
        <i class="bi bi-cart-check"></i> 장바구니 <i class="bi bi-cart-check"></i>
    </h1>
    <div id="div_cart"></div>
</div>

<script id="temp_cart" type="x-handlebars-template">
    <div class="row">
        <div class="col ms-2">
            <input id="all" type="checkbox">
            <span class="ms-3">전체선택</span>
        </div>
        <div class="col text-end">
            <button class="btn-delete btn btn-danger btn-sm">선택상품 삭제</button>
        </div>
    </div>
    <table class="table">
        <tr class="text-center">
            <th colspan=4>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>합계</th>
            <th>삭제</th>
        </tr>
        {{#each .}}
            <tr>
                <td><input cid="{{cid}}" class="chk" type="checkbox"></td>
                <td>{{bid}}</td>
                <td><img src="{{image}}" width="50px"></td>
                <td>{{title}}</td>
                <td>{{fmtprice}}원</td>
                <td>
                    <input class="qnt" value="{{qnt}}" size="3" oninput="isNumber(this)">
                    <button cid="{{cid}}" class="btn-update btn btn-outline-success btn-sm">변경</button>
                </td>
                <td>{{fmtsum}}원</td>
                <td><i class="bi bi-trash" cid="{{cid}}"></i></td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="8" class="text-end">
                총 상품 금액: <span id="sum">0</span>
            </td>
        </tr>
    </table>
</script>


<script>
    // 총 수량 합계 구하는것 -> 안 씀..(cart.js의 장바구니 목록 출력 JSON에서 sql문에 총 합계 추가함..)
    Handlebars.registerHelper("fmt", function(sum){
        return sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    })
</script>


<script>
    getCart();

    //전체 선택(checkbox)
    $("#div_cart").on("click", "#all", function(){
        if($(this).is(":checked")){ //전체선택이 되었으면
            $("#div_cart .chk").prop("checked", true);
        }else{
            $("#div_cart .chk").prop("checked", false);
        }
    });


    //각각 체크박스 선택
    $("#div_cart").on("click", ".chk", function(){
        const all=$("#div_cart .chk").length; //checkbox 갯수를 구하는
        const chk=$("#div_cart .chk:checked").length; //check된 checkbox 갯수

        if(all == chk){
            $("#div_cart #all").prop("checked", true);
        }else{
            $("#div_cart #all").prop("checked", false);
        }
    });


    //선택상품 삭제 버튼 클릭했을때
    $("#div_cart").on("click", ".btn-delete", function(){
        const chk=$("#div_cart .chk:checked").length;
        if(chk == 0){
            alert("삭제할 상품을 하나이상 선택해주세요.");
            return;
        }
        $("#div_cart .chk:checked").each(function(){
            const cid=$(this).attr("cid");
            $.ajax({
                type:"post",
                url:"/cart/delete",
                data:{cid},
                success:function(){}
            });
            getCart();
        });
    });







    //수량이 숫자인 경우만 입력되도록 (문자 입력X)
    function isNumber(item){
        item.value=item.value.replace(/[^0-9]/g,'');
    }

    //변경 버튼 클릭한 경우
    $("#div_cart").on("click", ".btn-update", function(){
        const cid=$(this).attr("cid");
        const qnt=$(this).parent().find(".qnt").val(); //같은 위치 상에서는 qnt의 value를 못가져와서 하나 위로 올라가서..
        if(qnt == ""){
            $(this).parent().find(".qnt").val(1);
            return;
        }
        if(confirm(`수량을 ${qnt}권으로 변경하시겠습니까?`)){
            $.ajax({
                type:"post",
                url:"/cart/update",
                data:{cid, qnt},
                success:function(){
                    getCart();
                }
            })
        }
    });


    //장바구니 삭제 아이콘 클릭한 경우
    $("#div_cart").on("click", ".bi-trash", function(){
        const cid=$(this).attr("cid");
        if(confirm(`${cid}번 도서를 삭제하시겠습니까?`)){
            $.ajax({
                type:"post",
                url:"/cart/delete",
                data:{cid},
                success:function(){
                    getCart();
                }
            })
        }
    });

    function getCart(){
        $.ajax({
            type:"get",
            url:"/cart/list.json",
            data:{uid:sessionStorage.getItem("uid")},
            success:function(data){
                //console.log(data);
                const temp=Handlebars.compile($("#temp_cart").html());
                $("#div_cart").html(temp(data));

                let sum = 0;
                data.forEach(item=>{
                    sum+=item.sum;
                });
                $("#sum").html(sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원");
            }
        })
    }
</script>