<div class="my-5 row justify-content-center mx-3">
    <h1 class="text-center mb-5">비밀번호 변경</h1>
    <form name="frm" class="card p-3 col-md-4" method="post">
        <input name="upass" class="form-control mb-2" placeholder="현재 비밀번호" type="password">
        <input name="npass" class="form-control mb-2" placeholder="새 비밀번호" type="password">
        <input name="cpass" class="form-control mb-2" placeholder="새 비밀번호 확인" type="password">
        <button class="btn btn-primary">확인</button>
    </form>
</div>

<script>
    $(frm).on("submit", function(e){
        e.preventDefault();

        const upass=$(frm.upass).val();
        const npass=$(frm.npass).val();
        const cpass=$(frm.cpass).val();

        if(upass == ""){
            alert("현재 비밀번호를 입력하세요.");
            $(frm.upass).focus();
        }else if(npass == ""){
            alert("새 비밀번호를 입력하세요.");
            $(frm.npass).focus();
        }else if(cpass == ""){
            alert("새 비밀번호 확인하세요");
            $(frm.cpass).focus();
        }else if(cpass != npass){
            alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
            $(frm.npass).focus();
        }else{
            $.ajax({
                type:"post",
                url:"/users/login",
                data:{uid:sessionStorage.getItem("uid"), upass:upass},
                success:function(data){
                    if(data == 2){
                        alert("현재 비밀번호가 일치하지 않습니다.");
                    }else{
                        if(confirm("비밀번호를 변경하시겠습니까?")) {
                            $.ajax({ //a.jax 은 프론트 페이지에서 제어 가능
                                type:"post",
                                url:"/users/change",
                                data:{uid:sessionStorage.getItem("uid"), npass:npass},
                                success:function(){
                                    alert("비밀번호가 변경되었습니다.");
                                    sessionStorage.clear();
                                    location.href="/users/login";
                                }
                            });
                        }
                    }
                }
            });
        }
    });
</script>