<style>
    form span {
        width: 100px;
        justify-content: center;
    }
</style>
<div class="my-5 row justify-content-center mx-3">
    <h1 class="text-center">로그인</h1>
    <div class="col-md-4 card p-3">
        <form name="frm">
            <div class="input-group mb-2">
                <span class="input-group-text">아이디</span>
                <input name="uid" class="form-control">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">비밀번호</span>
                <input name="upass" class="form-control" type="password">
            </div>
            <button class="btn btn-primary">로그인</button>
        </form>
        <div class="text-end">
            <a href="/users/insert">회원가입</a>
        </div>
    </div>
</div>

<script>
    $(frm).on("submit", function(e){
        e.preventDefault();
        const uid=$(frm.uid).val(); // frm의 uid의 값을 uid에 넣겠다.
        const upass=$(frm.upass).val();

        //유효성 체크
        if(uid == ""){
            alert("아이디를 입력하세요");
            $(frm.uid).focus();
        }else if(upass == ""){
            alert("비밀번호를 입력하세요.");
            $(frm.upass).focus();
        }else{
            // 로그인 체크 작업 (백엔드에서 하는... MySQL 데이터베이스있어야함)
            $.ajax({ //ajax으로 post의 users login을 호출하는
                type:"post",
                url:"/users/login",
                data:{uid:uid, upass:upass},
                success:function(data){
                    alert(data);

                    if(data == 0) {
                        alert("아이디가 존재하지않습니다.");
                    }else if(data == 2) {
                        alert("비밀번호가 일치하지 않습니다.");
                    }else{
                        sessionStorage.setItem("uid", uid); // 로그인했을 경우 세션스토리지에 uid 저장
                        location.href="/"; // 로그인 후 메인 페이지로 이동
                    }
                }
            });
        }
    });
</script>