<div class="my-5">
    <h1 class="text-center mb-5">주문하기</h1>
    <div id="div_order"></div>
    <div class="text-center mt-3">
        <button id="btn-order" class="btn btn-outline-danger px-5">주문하기</button>
    </div>
</div>

<script id="temp_order" type="x-handlebars-template">
    <table class="table">
        {{#each order}} <!-- 배열 이름이 없으면 . 아니면 배열 이름으로 -->
        <tr class="book" book="{{toString @this}}">
            <td><img src="{{image}}" width="45"></td>
            <td>{{title}}</td>          
            <td>{{fmtprice}}원</td>
            <td>{{qnt}}</td>
            <td>{{fmtsum}}원</td>

        </tr>
        {{/each}}
        <tr>
            <td colspan="5" class="text-center py-3 pe-5">
                총 주문 금액 : <span id="sum">0원</span> 
            </td>
        </tr>
    </table>
    <div class="my-5">
        <h3 class="text-center mb-5">주문자 정보</h3>
        <div class="input-group mb-2">
            <span class="input-group-text">주문자명</span>
            <input id="rname" class="form-control" value="{{user.uname}}">
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text">전화번호</span>
            <input id="rphone" class="form-control" value="{{user.phone}}">
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text">주소</span>
            <input id="raddress1" class="form-control" value="{{user.address1}}">
            <button class="btn btn-success">검색</button>
        </div>
        <input id="raddress2" class="form-control" value="{{user.address2}}">
        <input id="sum1" type="hidden">
    </div>
</script>

<script>
    Handlebars.registerHelper("toString", function(book){
        return JSON.stringify(book); //book을 String으로 바꿔서 리턴
    });
</script>

<script>
    const cart = "<%=cart%>";

    getOrder();
    

    //주문하기 버튼을 눌렀을 때,
    $("#btn-order").on("click", function(){
        if(confirm("현재 상품을 주문하시겠습니까?")){
            const uid=sessionStorage.getItem("uid");
            const rname=$("#div_order #rname").val();
            const rphone=$("#div_order #rphone").val();
            const raddress1=$("#div_order #raddress1").val();
            const raddress2=$("#div_order #raddress2").val();
            const sum=$("#div_order #sum1").val();

            $.ajax({
                type:"post",
                url:"/order/purchase/insert",
                data:{uid, rname, rphone, raddress1, raddress2, sum},
                success:function(pid){
                    alert(pid);
                    //주문 상품 등록 필요
                    $("#div_order .book").each(async function(){ //$는 제이쿼리 -> 반복문 each
                        const book=JSON.parse($(this).attr("book"));
                        console.log(book);

                        await $.ajax({
                            type:"post",
                            url:"/order/book/insert",
                            data:{...book, pid}, //...book : book에 있는걸 복사해서 보내주라는것
                        });
                    });
                    alert("주문이 완료되었습니다."); //ajax은 비동기 함수라 alert랑 동시 실행된다. -> ajax 먼저실행하기 위해 async await
                    location.href="/";
                }
            });
        }
    });

    function getOrder(){
        $.ajax({
            type:"get",
            url:"/order/cart.json",
            data:{cart, uid:sessionStorage.getItem("uid")},
            success:function(data){
                const temp=Handlebars.compile($("#temp_order").html());
                $("#div_order").html(temp(data));

                //총 수량 금액 구하기
                let sum = 0;
                data.order.forEach(item =>{
                    sum += item.sum;
                });
                $("#sum").html(sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원");
                $("#div_order #sum1").val(sum);
            }
        })
    }
</script>