<div class="my-5 row">
    <h1 class="text-center">지역검색 <i class="bi bi-geo-alt" style="font-size: 1.5rem;"></i></h1>
    <div class="row mb-3">
        <form name="frm" class="col-md-3">
            <div class="input-group">
                <input name="query" value="버거킹" class="form-control">
                <button class="btn btn-primary">검색</button>
            </div>
        </form>
    </div>
    <hr>
    <div id="div_local"></div>
    <div id="map" style="height:400px;"></div>
</div>

<script id="temp_local" type="x-handlebars-template">
    <table class="table">
        {{#each documents}}
        <tr>
            <td>{{place_name}}</td>
            <td>{{address_name}}</td>
            <td>{{phone}}</td>
            <td><button x="{{x}}" y="{{y}}" name="{{place_name}}" class="btn btn-success btn-sm">위치보기</button></td>
        </tr>
        {{/each}}
    </table>
</script>

<script>
    $(frm).on("submit", function(e){
        e.preventDefault();
        if($(frm.query).val() == ""){
            alert("검색어를 입력하세요.");
            $(frm.query).focus();
        }else{
            getList();
        }
    });

    $("#div_local").on("click", "button", function(){
        const x=$(this).attr("x");
        const y=$(this).attr("y");
        const name=$(this).attr("name");
        console.log(x, y, name);

        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(y, x), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
        //카카오개발자센터-> 내 어플리케이션-> 사용api-> 서버주소 넣기

        // 마커가 표시될 위치입니다 
        var markerPosition  = new kakao.maps.LatLng(y, x); 

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
    });

    //검색결과
    getList();
    function getList(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/local/search/keyword.json",
            data:{query: $(frm.query).val(), size:5},
            headers:{"Authorization":"KakaoAK 3522f5b1ae7299325dacf896aa451163"}, //남의 것을 가져와서 아무나 쓸수 없으니까 지정
            success:function(data){
                //console.log(data);
                const temp=Handlebars.compile($("#temp_local").html());
                $("#div_local").html(temp(data)); //temp에 data를 넣은것을 div_local로 출력
            }
        })
    }
</script>